$global-blue: #3176FF;
$global-dark-grey: #4F575C;
$global-light-grey: #D6D6D2;
$global-black: #1F222A;
$global-white-bg: #F4F4F4;
$global-white: #FAFAFA;


$global-font-family: 'Montserrat', sans-serif;
