.button {
    display: flex;
    align-items: center;
    font-weight: 400;
    outline: none;
    border: 0;
    border-radius: 100px;
    cursor: pointer;
    transition: .3s;

    &_size {
        &_large {
            padding: 0 40px;
            height: 60px;
            font-size: 16px;
            line-height: 24px;

            @media (min-width: 1024px) {
                &:active {
                    box-shadow: 0 8px 10px 0 #0000001A;
                }
            }
        }
    }

    &_color {
        &_blue {
            color: $global-white;
            background: $global-blue;

            @media (min-width: 1024px) {
                &:hover {
                    background: rgba($global-blue, .8);
                }
            }
        }

        &_grey {
            color: $global-dark-grey;

            @media (min-width: 1024px) {
                &:hover {
                    color: $global-blue;
                }
            }
        }
    }
//type_icon 
    &_type {
        &_icon {
            height: 44px;
            width: 44px;
            transition: .5s;

            svg {
                margin: 0 auto;
            }
        }

        &_link {
            width: max-content;
            font-size: 18px;
            line-height: 26px;
            background: none;
            border-radius: unset;
        }
    }

    &_with {
        &_icon {
            justify-content: center;
            gap: 10px;
        }
    }

    svg {
        width: 24px;
        height: 24px;
    }
}
